body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 3em;
    font-weight: 700;
    color: white;
}

h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 20px 10px;
}

.titulo {
    width: 100%;
    height: 120px;
    background-color: black;
    border-bottom:  solid 1px lightgray;
    opacity: 0.5;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.cuerpo {
    padding-top: 120px;
}

.introducir{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.botonera{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-container {
    width: 100%;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    margin-top: 80px;
    background-color: lightgray;
}

.carta {
    background-color: black;
    border: solid 1px lightgray;
    border-radius: 20px;
    width: 100%;
    margin: auto;
}

.img-carta {
    width: 90%;
    height: auto;
    margin: 16px 0 0 16px;
    border-radius: 20px;
}

.comentario{
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.likes {
    width: 80px;
    height: 40px;
    border-radius: 10px;
    background-color: crimson;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5em;
}









